src/main/resources/xsd/kuali-test.xsd

<?xml version="1.0"?>
<!--
 Copyright 2014 The Kuali Foundation

 Licensed under the Educational Community License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.opensource.org/licenses/ecl2.php

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="test.kuali.org"
           targetNamespace="test.kuali.org"
           elementFormDefault="qualified">
    <xs:element name="kuali-test">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="test-header" type="test-header"/>
                <xs:element name="operations" type="test-operations"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="test-operation-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="http request"/>
            <xs:enumeration value="checkpoint"/>
            <xs:enumeration value="test execution parameter"/>
            <xs:enumeration value="comment"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="test-operations">
        <xs:sequence>
            <xs:element name="operation" type="test-operation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="html-request-operation">
        <xs:sequence>
            <xs:element name="method" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
            <xs:element name="delay" type="xs:int" default="5000"/>
            <xs:element name="request-headers" type="request-headers"/>
            <xs:element name="request-parameters" type="request-parameters"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="comment-operation">
        <xs:sequence>
            <xs:element name="comment" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="request-headers">
        <xs:sequence>
            <xs:element name="header" type="request-header" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="request-parameters">
        <xs:sequence>
            <xs:element name="parameter" type="request-parameter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="request-header">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="request-parameter">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sql-select-op">
        <xs:sequence>
            <xs:element name="sql" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="web-service-request-op">
        <xs:sequence>
            <xs:element name="request" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="file-inquiry-op">
        <xs:sequence>
            <xs:element name="inquiry" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="memory-inquiry-op">
        <xs:sequence>
            <xs:element name="inquiry" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="operation">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="checkpoint-operation" type="checkpoint"/>
            <xs:element name="test-execution-parameter" type="test-execution-parameter"/>
            <xs:element name="html-request-operation" type="html-request-operation"/>
            <xs:element name="comment-operation" type="comment-operation"/>
        </xs:choice>  
        <xs:attribute name="index" type="xs:int"/> 
    </xs:complexType>      

    <xs:complexType name="test-execution-parameter">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="remove" type="xs:boolean"/>
            <xs:element name="value-property" type="checkpoint-property"/>
            <xs:element name="treat-as-date" type="xs:boolean" default="false"/>
            <xs:element name="auto-replace" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="test-operation">
        <xs:sequence>
            <xs:element name="operation-type" type="test-operation-type"/>
            <xs:element name="operation" type="operation"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:simpleType name="test-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Database"/>
            <xs:enumeration value="File"/>
            <xs:enumeration value="Web"/>
            <xs:enumeration value="Web Service"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="test-header">
        <xs:sequence>
            <xs:element name="platform-name" type="xs:string"/>
            <xs:element name="test-suite-name" type="xs:string" default="no-test-suite"/>
            <xs:element name="test-name" type="xs:string"/>
            <xs:element name="test-file-name" type="xs:string"/>
            <xs:element name="test-type" type="test-type"/>
            <xs:element name="created-by" type="xs:string"/>
            <xs:element name="date-created" type="xs:date"/>
            <xs:element name="max-run-time" type="xs:int" default="-1"/>
            <xs:element name="on-runtime-failure" type="failure-action" minOccurs="0"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="additional-parameters" type="xs:string" minOccurs="0"/>
            <xs:element name="use-test-entry-times" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="checkpoint-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="file"/>
            <xs:enumeration value="http"/>
            <xs:enumeration value="memory"/>
            <xs:enumeration value="runtime"/>
            <xs:enumeration value="sql"/>
            <xs:enumeration value="web service"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="checkpoint">
        <xs:sequence>
            <xs:element name="test-suite" type="xs:string"/>
            <xs:element name="test-name" type="xs:string"/>
            <xs:element name="test-index" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="number" type="xs:int"/>
            <xs:element name="type" type="checkpoint-type"/>
            <xs:element name="checkpoint-properties" type="checkpoint-properties"/>
            <xs:element name="input-parameters" type="input-parameters"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="input-parameters">
        <xs:sequence>
            <xs:element name="parameter" type="parameter" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parameter">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="java-type" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkpoint-properties">
        <xs:sequence>
            <xs:element name="checkpoint-property" type="checkpoint-property" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="failure-action">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ignore"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="error - continue"/>
            <xs:enumeration value="error - halt test"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="value-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="double"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="long"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="timestamp"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="comparison-operator">
        <xs:restriction base="xs:string">
            <xs:enumeration value="equal to"/>
            <xs:enumeration value="not equal to"/>
            <xs:enumeration value="less than"/>
            <xs:enumeration value="less than or equal"/>
            <xs:enumeration value="greater than"/>
            <xs:enumeration value="greater than or equal"/>
            <xs:enumeration value="in"/>
            <xs:enumeration value="not in"/>
            <xs:enumeration value="between"/>
            <xs:enumeration value="like"/>
            <xs:enumeration value="null"/>
            <xs:enumeration value="not null"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="checkpoint-property">
        <xs:sequence>
            <xs:element name="key" type="xs:string"/>
            <xs:element name="property-name" type="xs:string"/>
            <xs:element name="property-value" type="xs:string"/>
            <xs:element name="property-group" type="xs:string"/>
            <xs:element name="property-section" type="xs:string"/>
            <xs:element name="property-sub-section" type="xs:string"/>
            <xs:element name="display-name" type="xs:string"/>
            <xs:element name="value-type" type="value-type"/>
            <xs:element name="operator" type="comparison-operator"/>
            <xs:element name="on-failure" type="failure-action"/>
            <xs:element name="selected" type="xs:boolean"/>
            <xs:element name="actual-value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
